* {
    margin: 0px;
    padding: 0px;
}
/* START LANDING PAGE */
.landing {
    background-image: url(https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.landing_header {
    width: 100%;
    height: 100px;
    top: 0;
    background-color: black;
    opacity: 80%;
}
.landing_logo > img {
    position: fixed;
    top: 5px;
    left: 40px;
}
.landing_login {
    position: fixed;
    top: 40px;
    right: 40px;
}
.landing_login > span {
    background-color: red;
    color: rgb(187, 17, 17);
    font-size: 20px;
}
.landing_content {
    margin: 0;
    background-color: black;
    opacity: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
#buton {
    margin: 2;
    width: 90px;
    height: 25px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* END LANDING PAGE */

/* START HEADER */
.header {
    width: 100%;
    height: 100px;
    top: 0;
    background-color: black;
}
.logo > a {
    position: absolute;
    top: 5px;
    left: 40px;
}
.navbar {
    width: 60%;
    height: 40px;
    position: relative;
    background-color: black;
    margin: 30px;
    float: right;
}
.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li.nav {
    display: inline;
    float: left;
}
li.nav > a {
    display: block;
    padding: 15px;
    background-color: black;
}
.sign_in {
    padding: 11px;
    background-color: red;
    float: right;
}
.log_out {
    padding: 11px;
    background-color: red;
    float: right;
}
.nav > a:link, .nav > a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.nav > input {
    position: absolute;
    top: 10px;
    display: block;
    border: none;
    padding: 5px;

}
/* END HEADER */

/* START FOOTER */
.footer {
    width: 100%;
    height: 200px;
    background-color: black;
}
/* END FOOTER */

/* START CONTENT */
.content {
    width: 100%;
    height: 600px;
    background-color: white;
}
/* END CONTENT */

#firebaseui-auth-container {
    margin: 30px;
}

/* Css Sign in button start*/

a#buton1{
  background-color:white;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #f32121;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  font-size: 30px;
  font-family: monospace;
    border-style: solid;
    border-width: 5px;
    margin-top: 6px;
}
a#buton1:hover{
  color: #842525;
  background: #f32121;
  box-shadow: 0 0 5px #f32121, 0 0 10px #f32121, 0 0 30px #f32121;
  transition-delay: 1s;
}
a#buton1 span{
  position: absolute;
  display: block;
}
a#buton1 span:nth-child(1)  {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#f32121);
}
a#buton1:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
a#buton1 span:nth-child(3) {
  bottom: -100%;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#f32121);
}
a#buton1:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
a#buton1 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#f32121);
}
a#buton1:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
a#buton1 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#f32121);
}
a#buton1:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/* button end*/
.text1{
  font-family: monospace;
  color: black;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}
.text2{
  font-family: monospace;
  font-size: 30px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}